@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Urbanist:wght@400;800&display=swap");

$color-main-pink: #fa9372;
$color-light-pink: #ffd3c4;

$color-main-green: #b2ef91;
$color-light-green: #e4fcd7;
$color-dark-green: #465e38;

$color-black: #232020;
$color-dark-grey: rgb(95, 95, 95);

$font-heading: "Fredoka", sans-serif;
$font-body: "Urbanist", sans-serif;

$border-active: 3px solid $color-main-pink;

$std-padding: 1rem 2%;
$section-padding: 2rem 2%;
$std-radius: 15px;
$std-gap: 1rem;
$std-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
